# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Playwright outputs
playwright-report/
test-results/
.playwright/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Builds/coverage
dist/
coverage/

# Env files
.env
.env.*
